.question-container {
    position: fixed;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    transition: background-color 0.3s ease;
    overflow-y: auto;
}

.question-title {
    color: white;
    padding: 0 20px;
}

.question-result {
    color: white;
    padding-bottom: 20px;
}

@media screen and (max-width: 480px) {
    .question-container {
        justify-content: flex-start;
    }
}

@media (max-width: 1080px) and (orientation: landscape) {
    .question-container {
        justify-content: flex-start;
    }
}

.closeness-0 {
    background: linear-gradient(to bottom, #F6B868, #b53700);
}

.closeness-1 {
    background: linear-gradient(to bottom, #F6B868, #EE6B2D);
}

.closeness-2 {
    background: linear-gradient(to bottom, #F1B496, #EA806A);
}

.closeness-3 {
    background: linear-gradient(to bottom, #eacf7c, #e8a726);
}

.correct {
    background: linear-gradient(to bottom, #76E0C2, #59CADA);
}

