#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

    div.nav-container {
        position: fixed;
        z-index: 10;
        text-align: center;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 0;
        width: 100%;
    }

    button.nav-button {
        background: none;
        font-weight: bold;
    }
}